[submodule "snapshot"]
	path = snapshot
	url = https://github.com/skg-if/snapshot.git
[submodule "api"]
	path = api
	url = https://github.com/skg-if/api.git
[submodule "extensions"]
	path = extensions
	url = https://github.com/skg-if/extensions.git
[submodule "examples"]
	path = examples
	url = https://github.com/skg-if/examples.git
[submodule "context"]
	path = context
	url = https://github.com/skg-if/context.git
